@import url(./components.css);
@import url(./global.css);

.container {
  margin: auto;
  max-width: 90rem;
  min-height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.feature-container {
  margin: 0 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.feature-text h1 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}
.feature-text p {
  max-width: 54ch;
}
.feature-cards {
  margin-top: 3.75rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
    "card1 card2 card4"
    "card1 card3 card4";
  gap: 1.25rem;
  text-align: left;
  align-items: center;
}
.feature-cards img {
  width: 64px;
  height: 64px;
  margin-top: 20px;
  place-self: end;
}
.card1 {
  border-top: 4px solid var(--clr-primary-cyan);
  grid-area: card1;
}
.card2 {
  border-top: 4px solid var(--clr-primary-red);
  grid-area: card2;
}
.card3 {
  border-top: 4px solid var(--clr-primary-orange);
  grid-area: card3;
}
.card4 {
  border-top: 4px solid var(--clr-primary-blue);
  grid-area: card4;
}
.card1,
.card2,
.card3,
.card4 {
  display: grid;
  gap: 20px;
  padding: 2.5rem;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  border-bottom: 4px solid transparent;
}
.card1:hover {
  border-bottom: 4px solid var(--clr-primary-cyan);
}
.card2:hover {
  border-bottom: 4px solid var(--clr-primary-red);
}
.card3:hover {
  border-bottom: 4px solid var(--clr-primary-orange);
}
.card4:hover {
  border-bottom: 4px solid var(--clr-primary-blue);
}
@media (max-width: 25rem) {
  .container {
    max-width: 23.4375rem;
  }
}
@media (max-width: 43.75rem) {
  .feature-container {
    margin: 1.25rem;
  }
  .feature-cards {
    grid-template-columns: auto;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
  }
  .feature-text h1 {
    font-size: 1.5rem;
  }
  .card1,
  .card2,
  .card3,
  .card4 {
    gap: 0.625rem;
    padding: 1.25rem;
  }
}
.entrance {
  animation: entrance 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes entrance {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
